{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>You're almost finished...</h1>
        <p>Leave us your email and we'll email you a temporary password</p>
        <p>
            <input class="input" type="text" placeholder="Enter your email" />
            <a class="btn btn-lg btn-success" href="#">Create account</a>
        </p>
    </div>

{% endblock %}
