{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>Redirecting you to Facebook</h1>
        <p>Please authorize us in order to continue...</p>
    </div>

{% endblock %}
